html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #ecf1bd;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background: #f38d07;
  color: white;
  padding: 15px;
  text-align: center;
}

nav {
  background: #523202;
  text-align: left;
  padding: 10px 0;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

main {
  flex: 1;
  padding: 20px;
  background: white;
  margin: 10px;
}

footer {
  text-align: center;
  padding: 10px 0;
  background: #f38d07;
  color: white;
}
